html {
    font-size: 16px;
    font-family: Verdana;
    color: #3A3B3C;
}

body {
    max-width: 1600px;
}

h1 {
    padding-top: 4rem;
    padding-left: 0.1rem;
    color: #8E9890;
    font-size: 1rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9ACB34;
    text-align: center;
}

header {
    max-width: 1600px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

header p {
    color: #9ACB34;
    font-weight: bold;
    margin-left: 5rem;
    margin-top: 1rem;
}

nav {
    margin-top: 1rem;
    padding-right: 1%;
}

nav li {
    padding-right: 2.5rem;
    display: inline;
}

nav a {
    font-size: 0.9rem;
    color: #3A3B3C;
    line-height: 1.6;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.grey-background {
    background-color: #F4F6F0;
}

main {
    padding-top: 3rem;
}

#start {
    display: flex;
    padding-bottom: 2rem;
}

.presenting-text {
    padding-left: 10rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.presenting-text p {
    white-space: nowrap;
}

#typing-text {
    color: #405e25;
    font-weight: bold;
}

#cursor {
    position: absolute;
    top: 15rem;
    margin-left: 11rem;
    transform: translateY(-50%); /* Center the cursor vertically */
    animation: blink 1s infinite; /* Cursor blinking animation */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.additional-info {
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.action-button {
    font-size: 1rem;
    background-color: #9ACB34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;    
}

.action-button:hover {
    background-color: #405e25;
    color: #F4F6F0;
    transform: scale(1.1);
}

#profilfoto {
    height: 400px;
    padding-left: 5%;
    padding-top: 5rem;
}

.maus-info {
    position: relative;
    text-align: center;
    transform: translateY(-6rem);
    left: 41rem; 
    font-size: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    background-image: url('../image/sprechblase.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15rem;
    height: 6rem;
}

.maus-info p {
    padding-top: 0.5rem;
    padding-right: 5rem;
}

.maus {
    height: 2rem;
    position: relative;
    background-image: url('../image/maus.svg');
    background-size: contain;
    background-repeat: no-repeat;
    animation: mausBewegung 20s infinite linear; 
}

@keyframes mausBewegung {
    0% { left: 0; top: 0; }
    3% { left: 15%; top: 0; }
    10% { left: 40%; top: 23%; }
    15% { left: 65%; top: 57%; }
    20% { left: 40%; top: 90%; }
    25% { left: 15%; top: 57%; }
    30% { left: 40%; top: 23%; }
    35% { left: 65%; top: 0; }
    40% { left: 90%; top: 0; }
    41% { opacity: 0; }
    100% { opacity: 0; }
}

.timeline {
    display: flex;
}

.year-section {
    padding-right: 3%;
    text-align: center;
}

.icon {
    height: 3rem;
}

.year {
    font-size: 1.2rem;
    color: #3A3B3C;
}

.spuren {
    padding-right: 3%;
    padding-top: 3rem;
    width: 100px;
    height: 50px;
}

.info-text {
    font-size: 0.9rem;
    line-height: 1.2rem;
    background-color:#687169;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 30px;
    width: 350px;
    display: none;
}

#schule-info {
    margin-left: 7%;
}

#uni-info {
    margin-left:27%;
}

#arbeit-info {
    margin-left:50%;
}

#coding-info {
    margin-left:60%;
}

.swiper {
    padding-left: 80%;
}

.swiper-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #405e25;
    border: none;
    color: white;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;   
}

.swiper-button:hover {
    cursor: pointer;
    background-color: white;
    color: #405e25;
}

.swiper-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rückwärts span {
    transform: translate(-50%, -50%) rotate(180deg); /* Um den Pfeil umzukehren */
}

.all-skills {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
    max-width: 95%;
}

.skill-container {
    flex: 0 0 auto;
    margin-top: 2rem;
    margin-right: 1rem;
    background-color: white;
    width: 20rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
    border-radius: 3px;
    padding: 0.5rem;    
}

.skill-container p {
    padding-left: 1rem;
    font-size: 1rem;
}

footer {
    background-color: #405e25;
    margin-top: -1rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
}

footer p {
    color: white;
}

footer a {
    color: #9ACB34;
}